---
Checks:          'clang-diagnostic-*,clang-analyzer-*,portability-*,performance-*,bugprone-*,misc-*,-misc-unused-parameters'
WarningsAsErrors: '*,-bugprone-parent-virtual-call'
HeaderFilterRegex: 'src/.*hpp'
AnalyzeTemporaryDtors: true
...
