---
Checks:          'clang-diagnostic-*,clang-analyzer-*,portability-*,performance-*,misc-*,-misc-unused-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*hpp'
AnalyzeTemporaryDtors: true
...

