[submodule "external/tinygettext"]
	path = external/tinygettext
	url = https://github.com/SuperTux/tinygettext.git
[submodule "external/squirrel"]
	path = external/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "external/sexp-cpp"]
	path = external/sexp-cpp
	url = https://github.com/SuperTux/sexp-cpp.git
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/SuperTux/physfs.git
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/SuperTux/SDL_ttf
[submodule "discord-sdk"]
	path = external/discord-sdk
	url = https://github.com/discord/discord-rpc
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tools/miniswig"]
	path = tools/miniswig
	url = https://github.com/WindstilleTeam/miniswig
