*~
*.o
/.sconsign.dblite
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/data/Makefile
/data/Makefile.in
/depcomp
/install-sh
/missing
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/supertux-milestone1
/result
