version: '{build}'
os: Visual Studio 2015
configuration: Release
platform: x86

environment:
  DOWNLOAD_APIKEY:
    secure: SEKmgfhiwujukYrr2xjqp63FEwvDUcoQOy7pCuYSyu+CTbGRRIzTbUCwwu4EPJmE
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

branches:
  except:
    - coverity_scan # No need for Windows builds on that branch

skip_commits:
  message: /\[(skip ci)|(ci skip)\]/

cache: c:\tools\vcpkg\installed -> appveyor.yml

install:
- cd C:\Tools\vcpkg
- git pull
- .\bootstrap-vcpkg.bat
- cd %APPVEYOR_BUILD_FOLDER%

before_build:
- cmd: |
    echo Installing dependencies...
    vcpkg integrate install
    xcopy /s mk\vcpkg C:\tools\vcpkg\ports
    copy mk\cmake\x86-windows.cmake C:\tools\vcpkg\triplets\
    vcpkg install boost-date-time:x86-windows
    vcpkg install boost-filesystem:x86-windows
    vcpkg install boost-format:x86-windows
    vcpkg install boost-locale:x86-windows
    vcpkg install boost-optional:x86-windows
    vcpkg install boost-system:x86-windows
    vcpkg remove curl:x86-windows
    vcpkg install curl:x86-windows
    vcpkg install freetype:x86-windows
    vcpkg install glew:x86-windows
    vcpkg install libogg:x86-windows
    vcpkg install libraqm:x86-windows
    vcpkg install libvorbis:x86-windows
    vcpkg install openal-soft:x86-windows
    vcpkg install sdl2:x86-windows
    vcpkg install sdl2-image[libjpeg-turbo]:x86-windows
    git submodule update --init --recursive
    echo Running cmake ..
    cmake -G "Visual Studio 14 2015" -DVCPKG_BUILD=ON -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DCMAKE_INSTALL_PREFIX=%P% -DHAVE_SDL=true -DPACKAGE_VCREDIST=true %APPVEYOR_BUILD_FOLDER%

build:
  project: ALL_BUILD.vcxproj
  parallel: true
  verbosity: detailed

after_build:
- cmd: '"C:\Program Files (x86)\CMake\bin\cpack.exe"'


test: off

artifacts:
- path: SuperTux-*
  name: setup

deploy:
- provider: GitHub
  description: 'SuperTux release'
  auth_token:
    secure: dsfeuV2aC3dINer3z3PdXnQF6AosFVRTp71hdsaGI+LbcTXfmkH0nmVfqH0Dznyv
  artifact: setup
  draft: true
  on:
    appveyor_repo_tag: true        # deploy on tag push only
- provider: S3
  access_key_id:
    secure: +cR4ZicEZHr0OiXAsitUhBL7PsqPzHQZb9q+IKK5P2o=
  secret_access_key:
    secure: Y3+rqowdiTkG3OgTUD1fb4mJzjb7jUKqCs3CKJuOy6WCHovLmw8ocemOsMyQ3WrR
  bucket: supertux-ci-downloads
  region: us-west-2
  artifact: setup
  folder: $(APPVEYOR_REPO_COMMIT)/appveyor/$(PLATFORM)/$(APPVEYOR_JOB_ID)/

after_deploy:
- ps: |
    Write-Output Get-FileHash SuperTux-*
    
    foreach ($path in get-ChildItem SuperTux-*) {

      $file = Get-Item $path;
      $url = "https://supertux-ci-downloads.s3-us-west-2.amazonaws.com/$($Env:APPVEYOR_REPO_COMMIT)/appveyor/$($Env:PLATFORM)/$($Env:APPVEYOR_JOB_ID)/$($file.Name)"
      $shasum = Get-FileHash $file -Algorithm SHA256
    
      $postParams = @{
        apikey=$Env:DOWNLOAD_APIKEY;
        size=$file.length;
        url=$url;
        branch=$Env:APPVEYOR_REPO_BRANCH;
        shasum = $shasum.Hash
      }
      Invoke-WebRequest -Uri https://download.supertux.org/submit.php -Method POST -Body $postParams
    }