[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SuperTux
Name[en]=SuperTux
Name[de]=SuperTux
Name[cs]=SuperTux
Name[nn]=SuperTux
Name[sv]=SuperTux
Name[pt_BR]=SuperTux
GenericName=A Platform Game
GenericName[en]=A Platform Game
GenericName[de]=Ein Jump&Run Spiel
GenericName[cs]=Plošinová hra
GenericName[nn]=Plattformspel
GenericName[sv]=Ett plattformsspel
GenericName[pt_BR]=Jogo de Plataforma
Comment=A classic 2D platform game
Comment[en]=A classic 2D platform game
Comment[de]=Ein von Super Mario inspiriertes Pinguin Jump&Run Spiel
Comment[cs]=Plošinovka inspirovaná SuperMariem s tučňákem Tuxem v hlavní roli
Comment[nn]=Eit klassisk todimensjonalt plattformspel.
Comment[sv]=Ett klassiskt tvådimensionellt plattformsspel
Comment[pt_BR]=Encarne o pinguin Tux neste jogo inspirado em clássicos de Pular&Correr
Icon=supertux.png
Exec=supertux
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
