[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SuperTux - Milestone 1
Name[en]=SuperTux - Milestone 1
Name[de]=SuperTux - Milestone 1
Name[cs]=SuperTux - Milestone 1
GenericName=A Platform Game
GenericName[en]=A Platform Game
GenericName[de]=Ein Jump&Run Spiel
GenericName[cs]=Plošinová hra
Comment=A Super Mario inspired penguin platform game
Comment[en]=A Super Mario inspired penguin platform game
Comment[de]=Ein von Super Mario inspiriertes Pinguin Jump&Run Spiel
Comment[cs]=Plošinovka inspirovaná SuperMariem s tučňákem Tuxem v hlavní roli
Icon=supertux-milestone1
Exec=supertux-milestone1
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
