[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SuperTux2
Name[en]=SuperTux2
Name[de]=SuperTux2
Name[cs]=SuperTux2
Name[lt]=SuperTux2
Name[nn]=SuperTux2
Name[sv]=SuperTux2
Name[pt_BR]=SuperTux2
Name[hu]=SuperTux2
GenericName=A Platform Game
GenericName[en]=A Platform Game
GenericName[de]=Ein Jump&Run Spiel
GenericName[cs]=Plošinová hra
GenericName[lt]=Platformos žaidimas
GenericName[nn]=Plattformspel
GenericName[sv]=Ett plattformsspel
GenericName[pt_BR]=Jogo de Plataforma
GenericName[hu]=Egy oldalnézeti játék
Comment=A classic 2D platform game
Comment[en]=A classic 2D platform game
Comment[de]=Ein klassisches Jump&Run Spiel
Comment[cs]=Plošinovka inspirovaná SuperMariem s tučňákem Tuxem v hlavní roli
Comment[lt]=Klasikinis 2D platformos žaidimas
Comment[nn]=Eit klassisk todimensjonalt plattformspel.
Comment[sv]=Ett klassiskt tvådimensionellt plattformsspel
Comment[pt_BR]=Encarne o pinguin Tux neste jogo inspirado em clássicos de Pular&Correr
Comment[hu]=Egy klasszikus 2D-s oldalnézeti játék
Icon=supertux.png
Exec=supertux2
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
