#  SuperTux
#  Copyright (C) 2021-2021 Sergii Pylypenko <x.pelya.x@gmail.com>
#
#  This program is free software; you can redistribute it and/or
#  modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation; either version 3
#  of the License, or (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

name: Android
on:
  workflow_dispatch:
    inputs: {}
  push:
    branches:
      - master
      - android-workflows
    tags:
      - '*'
  pull_request: {2485}

jobs:
  android:
    strategy:
      fail-fast: false
      matrix:
        arch: [arm64-v8a, armeabi-v7a, x86, x86_64]
    runs-on: ubuntu-latest
    env:
      # SUPERTUX_VERSION is set later using git describe.
      SDL_TAG: 2.32.10
      B_T_VERSION: 35.0.0
      NDK_VERSION: 29.0.14206865
      SDK_VERSION: 35
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg

    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch the whole tree so git describe works
          fetch-depth: 0
          submodules: recursive

      - name: Prepare SUPERTUX_VERSION
        run: |
          tag=$(git describe --tags --abbrev=0)
          echo "SUPERTUX_VERSION=$tag" >> $GITHUB_ENV
          echo "SUPERTUX_VERSION: $tag"

      - name: Use cached dependencies
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg
          key: android-${{ matrix.arch }}-vcpkg-${{ hashFiles('.github/workflows/android.yml') }}

      - name: Bootstrap custom vcpkg
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          case "${{ matrix.arch }}" in
            arm64-v8a) export VCPKG_TRIPLET=arm64-android ;;
            armeabi-v7a) export VCPKG_TRIPLET=arm-neon-android ;;
            x86) export VCPKG_TRIPLET=x86-android ;;
            x86_64) export VCPKG_TRIPLET=x64-android ;;
            *) exit 67 ;;
          esac
          echo "VCPKG_TRIPLET=$VCPKG_TRIPLET" >> $GITHUB_ENV
          echo "VCPKG_ROOT=$VCPKG_ROOT" >> $GITHUB_ENV

          git clone https://github.com/microsoft/vcpkg.git $VCPKG_ROOT
          cd vcpkg
          ./bootstrap-vcpkg.sh

          ./vcpkg install --classic --triplet=$VCPKG_TRIPLET \
            fmt     \
            libogg   \
            libvorbis \
            libraqm    \
            freetype    \
            physfs      \
            glm         \
            libpng      \
            zlib        \
            sdl2        \
            sdl2-image  \
            sdl2-ttf    \
            curl        \
            openal-soft \
            libogg      \
            libvorbis

          find $VCPKG_ROOT/installed -name '*.pc' -exec sed -i -E 's/-lc\+\+//g' {} \;

      - name: Prepare SDL Android project
        run: |
          # Has to be the same version as the one found in vcpkg!!
          ./tools/bootstrap-android-project.sh ${SDL_TAG}

          echo "vcpkg_root=$VCPKG_ROOT" > mk/android/local.properties

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
          cache: 'gradle'

      - name: Setup Android enviroment
        uses: android-actions/setup-android@v2
        with:
          packages: |
            platforms;android-${{ env.SDK_VERSION }}
            ndk;${{ env.NDK_VERSION }}
            build-tools;${{ env.B_T_VERSION }}

      - name: Run slugify
        id: slugify
        uses: eltimn/slugify-action@v2.0.2

      - name: Build APK
        working-directory: mk/android/
        env:
          # Using git rev-parse gives incorrect values when querying the branch
          # so, use slugify instead
          GIT_HASH: ${{ steps.slugify.outputs.sha }}
          GIT_BRANCH: ${{ steps.slugify.outputs.branch }}
        run: |
          tree

          chmod +x ./gradlew
          ./gradlew assembleRelease \
            -Pci=on \
            -Pcpuarch="${{ matrix.arch }}" \
            -Pcmake_args="-DGIT_HASH=$GIT_HASH;-DGIT_BRANCH=$GIT_BRANCH" \
            --info

      - name: Rename APK
        run: |
          mv mk/android/app/build/outputs/apk/release/app-release-unsigned.apk \
            mk/android/app/build/outputs/apk/release/SuperTux-${SUPERTUX_VERSION}-${{ matrix.arch }}-unsigned.apk

      ### Not really a point, but kept around for now
      #
      # - name: Upload unsigned APK
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: "Unsigned APK ${{ matrix.arch }}"
      #     path: "mk/android/app/build/outputs/apk/release/SuperTux-${{ env.SUPERTUX_VERSION }}-${{ matrix.arch }}-unsigned.apk"

      - name: Fetch keys
        working-directory: mk/android/app/build/outputs/apk/release
        run: |
          if [[ "${{ secrets.ANDROID_SIGNING_KEY }}" ]]
          then
            echo "${{ secrets.ANDROID_SIGNING_KEY }}" | base64 --decode > supertux.keystore
          else
            echo "Key wasn't found. Skipping..."
          fi

      - name: Sign APK
        working-directory: mk/android/app/build/outputs/apk/release
        run: |
          # Note: this is created before, but just some fallback logic for later
          if [ ! -f supertux.keystore ]
          then
            echo "!!! Generating a new key."
            keytool -genkey -v \
              -keystore supertux.keystore \
              -alias supertux \
              -storepass hunter2 \
              -dname "cn=MatusBro, ou=Contributor, O=SuperTux Team, L=Antarctica, ST=Antarctica, C=aq" \
              -keyalg RSA -keysize 2048 -validity 10000
          fi

          cp ./SuperTux-${SUPERTUX_VERSION}-${{ matrix.arch }}-unsigned.apk ./SuperTux-${SUPERTUX_VERSION}-${{ matrix.arch }}.apk

          if [[ "${{ secrets.ANDROID_SIGNING_KEY }}" ]]
          then
            $ANDROID_SDK_ROOT/build-tools/${B_T_VERSION}/apksigner sign \
              --ks supertux.keystore \
              --ks-key-alias supertux \
              --ks-pass pass:"${{ secrets.ANDROID_SIGNING_PW }}" \
              ./SuperTux-${SUPERTUX_VERSION}-${{ matrix.arch }}.apk
          else
            # More fallback logic; our key should exist
            echo "!!! WARNING: Signing with manual CI key. Check your shit ;-/"
            $ANDROID_SDK_ROOT/build-tools/${B_T_VERSION}/apksigner sign \
              --ks supertux.keystore \
              --ks-key-alias supertux \
              --ks-pass pass:hunter2 \
              ./SuperTux-${SUPERTUX_VERSION}-${{ matrix.arch }}.apk
          fi

      - name: Upload signed APK
        uses: actions/upload-artifact@v4
        with:
          name: "Signed SuperTux APK ${{ matrix.arch }}"
          path: "mk/android/app/build/outputs/apk/release/SuperTux-${{ env.SUPERTUX_VERSION }}-${{ matrix.arch }}.apk"

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: "mk/android/app/build/outputs/apk/release/SuperTux-${{ env.SUPERTUX_VERSION }}-${{ matrix.arch }}.apk"
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
