#  SuperTux
#  Copyright (C) 2020-2021 Jacob Burroughs <maths22@gmail.com>
#                2020-2022 A. Semphris <semphris@protonmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <https://www.gnu.org/licenses/>.

name: Windows
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request: {}

jobs:
  windows:

    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
        build_type: [Debug, RelWithDebInfo]
        include:
          - build_type: RelWithDebInfo
            arch: x64
            release: ON
          - build_type: RelWithDebInfo
            arch: x86
            release: ON

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch the whole tree so git describe works
          fetch-depth: 0
          submodules: recursive

      - name: Use cached dependencies
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: C:/vcpkg/installed
          key: ${{ runner.os }}-${{ matrix.arch }}-deps-${{ hashFiles('.github/workflows/windows.yml') }}

      # I don't know why, but vcpkg manifest doesn't work in CI.
      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        env:
          ARCH: ${{ matrix.arch }}
        run: |
          cd C:/
          vcpkg integrate install
          vcpkg install curl:$Env:ARCH-windows
          vcpkg install glew:$Env:ARCH-windows
          vcpkg install libogg:$Env:ARCH-windows
          vcpkg install libvorbis:$Env:ARCH-windows
          vcpkg install openal-soft:$Env:ARCH-windows
          vcpkg install sdl2:$Env:ARCH-windows
          vcpkg install sdl2-image[libjpeg-turbo]:$Env:ARCH-windows
          vcpkg install glm:$Env:ARCH-windows
          vcpkg install zlib:$Env:ARCH-windows
          vcpkg install fmt:$Env:ARCH-windows
          vcpkg install physfs:$Env:ARCH-windows
          vcpkg install libraqm:$Env:ARCH-windows
          vcpkg install --recurse freetype:$Env:ARCH-windows

      - name: Run slugify
        id: slugify
        uses: eltimn/slugify-action@v2.0.2

      - name: Configure bulid
        shell: pwsh
        env:
          # Using git rev-parse gives incorrect values when querying the branch
          # so, use slugify instead
          GIT_HASH: ${{ steps.slugify.outputs.sha }}
          GIT_BRANCH: ${{ steps.slugify.outputs.branch }}
          ARCH: ${{ matrix.arch }}
          BUILD_TYPE: ${{ matrix.build_type }}
          GLBINDING: ${{ matrix.glbinding }}
        run: |
          $Env:GIT_TAG = (& git describe --tags --abbrev=0)

          echo "Git information:"
          echo "- GIT_TAG: $Env:GIT_TAG"
          echo "- GIT_HASH: $Env:GIT_HASH"
          echo "- GIT_BRANCH: $Env:GIT_BRANCH"

          cmake --version

          mkdir build
          cd build

          cmake .. -G "Visual Studio 17 2022" -A $Env:ARCH.replace("x86", "Win32") `
                   -DGIT_HASH="$Env:GIT_HASH" `
                   -DGIT_BRANCH="$Env:GIT_BRANCH" `
                   -DENABLE_DISCORD=ON -DVCPKG_MANIFEST_MODE=OFF `
                   -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake" `
                   -DVCPKG_TARGET_TRIPLET="$(if ($Env:ARCH -eq "x64") {"x64-windows"} else {"x86-windows"})" `
                   -DHAVE_SDL=true -DPACKAGE_VCREDIST=true "-DCMAKE_BUILD_TYPE=$Env:BUILD_TYPE" `
                   -DCMAKE_POLICY_VERSION_MINIMUM="3.5"

      - name: Build and install
        working-directory: build
        env:
          BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          cmake --build . --config $Env:BUILD_TYPE

      # FIXME
      # - name: Run Tests
      #   working-directory: build
      #   env:
      #     BUILD_TYPE: ${{ matrix.build_type }}
      #   run: |
      #     "./$Env:BUILD_TYPE/run_tests.exe"

      - name: Package MSI Installer
        if: matrix.build_type != 'Debug'
        shell: pwsh
        working-directory: build
        env:
          BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          cpack -C $Env:BUILD_TYPE
          if ($LASTEXITCODE -ne 0)
          {
            $code = $LASTEXITCODE
            type ./_CPack_Packages/win64/WIX/wix.log
            exit $code
          }
          else
          {
            mkdir upload
            mv *.msi upload/
          }

      - name: Upload MSI Installer
        uses: actions/upload-artifact@v4
        with:
          name: "windows-${{ matrix.arch }}-${{ matrix.build_type }}-${{ steps.slugify.outputs.branch }}-${{ steps.slugify.outputs.sha }}-installer"
          path: build/upload/*.msi
          if-no-files-found: ignore

      # Install manually for the github artifact
      # (because uploading a zip as an artifact would create
      # a zip inside of a zip)
      - name: Package Portable Archive (Artifact)
        if: matrix.build_type != 'Debug'
        working-directory: build
        env:
          BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          mkdir -Force "SuperTux-portable"
          & cmake --install . --config $Env:BUILD_TYPE --prefix ".\SuperTux-portable"

      - name: Upload Portable Package Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "windows-${{ matrix.arch }}-${{ matrix.build_type }}-${{ steps.slugify.outputs.branch }}-${{ steps.slugify.outputs.sha }}-portable"
          path: build/SuperTux-portable
          if-no-files-found: ignore

      # Manually create zip for GitHub release, when necessary
      - name: Package Portable Archive (GitHub Release)
        if: matrix.build_type != 'Debug' && startsWith(github.ref, 'refs/tags/')
        working-directory: build
        env:
          ARCH: ${{ matrix.arch }}
        run: |
          # Manually create zip for GitHub release, when necessary
          $tag = (& git describe --tags --abbrev=0)
          $systemName = "win" + $(if ($Env:ARCH -eq "x64") {"64"} else {"32"})
          Compress-Archive `
            -Path ".\SuperTux-portable" `
            -DestinationPath ".\SuperTux-$tag-$systemName-portable.zip"

      - uses: parth-paradkar/upload-s3-without-acl@68848b62953464adb87bd48793f7ec58b8af427c
        if: matrix.release && env.CI_KEY != null
        env:
          CI_KEY: ${{ secrets.CI_DOWNLOAD_ACCESS_KEY_ID }}
        with:
          aws_bucket: supertux-ci-downloads
          aws_key_id: ${{ secrets.CI_DOWNLOAD_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CI_DOWNLOAD_SECRET_ACCESS_KEY }}
          source_dir: 'build/upload'
          destination_dir: "ci-build/${{ github.sha }}/gh-actions/windows-${{ matrix.arch }}/${{ github.run_id }}"

      - name: Post uploaded file
        shell: bash
        if: matrix.release && env.DOWNLOAD_APIKEY != null
        working-directory: build
        run: ../.ci_scripts/deploy.sh
        env:
          PREFIX: "ci-build/${{ github.sha }}/gh-actions/windows-${{ matrix.arch }}/${{ github.run_id }}"
          DOWNLOAD_APIKEY: ${{ secrets.DOWNLOAD_APIKEY }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          IS_WINDOWS: true

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/') && matrix.release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/upload/*.msi
            build/SuperTux-*-portable.zip
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}

